asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
defusedxml
distlib
dj-database-url
Django
django-allauth
django-bootstrap-v5
django-ckeditor
django-crispy-forms
django-environ
django-filter
django-js-asset
django-registration-redux
django-rest-auth
django-widget-tweaks
djangorestframework
EasyProcess
entrypoint2
filelock
idna
Markdown
MarkupSafe
MouseInfo
mss
numpy
oauthlib
opencv-contrib-python
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dotenv
python3-openid
pytweening
pytz
requests
requests-oauthlib
setuptools
six
social-auth-core
soupsieve
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
xlwt